@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat:wght@400;500;600&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    color: var(--text);
}

:root{
    --text: #FFFFFF;
    --text-light: rgba(255, 255, 255, 0.5);
    --bg: #101010;
    --main-bg: #0B0B0B;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
    overflow: hidden;

    background-color: var(--bg);
}

main{
    width: 80vw;
    max-width: 280px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-radius: 8px;

    padding: 16px;

    background-color: var(--main-bg);

    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.486);
}

.profile{
    width: 100%;
}

.user{
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 3px;
}

.image-profile{
    width: 45px;
    border-radius: 100%;

    background-color: gray;
}

.names{
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}

.name{
    font-size: 1em;
    font-weight: 400;
}

.username{
    font-size: 0.9em;
    font-weight: 400;

    color: var(--text-light);
}

.user-dates{
    display: flex;
    flex-direction: column;
    gap: 4px;

    margin-top: 11px;
}

.user-dates i{ 
    font-size: 17px;
}

.follows,
.repositories{
    color: var(--text-light);
}

.line{
    height: 0.9px;
    width: 95%;

    margin-top: 12px;

    background-color: rgba(255, 255, 255, 0.1);
}

.list-repositories{
    margin-top: 12px;

    display: flex;
    flex-direction: column;
    gap: 7px;

    width: 100%;
    max-height: 115px;
    overflow: scroll;
}

.repositories-name{
    text-decoration: none;

    display: flex;
    justify-content: space-between;

    font-size: 1em;
    font-weight: 400;

    height: 25px;
}

.repositories-name span i{
    color: #1F1F1F;

    font-size: 1.1em;
}