@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat:wght@400;500;600&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    color: var(--text);
}

:root{
    --text: #FFFFFF;
    --text-light: rgba(255, 255, 255, 0.5);
    --bg: #101010;
    --main-bg: #0B0B0B;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    height: 100vh;
    overflow: hidden;

    background-color: var(--bg);
}

.search-bar{
    width: 80vw;
    max-width: 280px;

    display: flex;


    background-color: var(--main-bg);;

    border-radius: 5px;

    margin-bottom: 15px;
}

.search-text{
    width: 90%;
    background-color: var(--bg-main);

    border: none;

    color: #FFFFFF;

    padding: 5px 0px 5px 11px;
    
    font-size: 1.2em;
    font-weight: 400;  
}

.search-text:focus{
    outline: none;
}

.search-btn{
    width: 15%;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    background-color: transparent;

    color: var(--text);

    font-size: 1.2em;

    cursor: pointer;
}

main{
    width: 80vw;
    max-width: 280px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-radius: 8px;

    padding: 16px;

    background-color: var(--main-bg);

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.829);
}

.message{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile{
    width: 100%;

    display: none;
}

.user{
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 3px;
}

.image-profile{
    width: 45px;
    height: 45px;
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 6px;
    text-align: center;
    font-weight: 500;

    overflow: hidden;

    background-color: gray;
}

.names{
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}

.name{
    font-size: 1em;
    font-weight: 400;
}

.username{
    font-size: 0.9em;
    font-weight: 400;

    color: var(--text-light);
}

.user-dates{
    display: flex;
    flex-direction: column;
    gap: 4px;

    margin-top: 11px;
}

.user-dates i{ 
    font-size: 17px;
}

.follows,
.repositories{
    color: var(--text-light);
}